/* nutrition CSS file */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

thead {
    font-weight: 700;
    font-size: 1.3em;
}

th {
    padding: 2px 2px 10px 2px;
}

footer {
    font-family: "Candara", "Calibri", sans-serif;
    text-align: center;
    padding: 2px;
}

.badText {
    color: red;
}

.goodText {
    color: green;
}

.goodFood {
    color: green;
    font-size: 1.8em;
    font-weight: 700;
    margin-right: 1em;
}

.badFood {
    color: red;
    font-size: 1.8em;
    font-weight: 700;
    margin-right: 1em;
}

.neutralFood {
    color: gray;
    font-size: 1.8em;
    font-weight: 700;
    margin-right: 1em;
}

.starchTable {
    margin: 8px;
    padding: 8px;
    display: inline-block;
}

.starchTable th, #starchTable td {
    column-width: 12em;
    text-align: left;
    padding-right: 8em;
}

.starchTableBody {
    display: block;
    max-height: 20em;
    overflow-y: scroll;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.stageTable {
    border: 1px solid lightgray;
}

.stageTableBody td {
    border: 1px solid lightgray;
    border-radius: 4px;
    text-align: left;
    padding-right: 2em;
}

.exDiv {
    display: inline-block;
    padding: 2px;
    margin: 0.5em 6em 1em 0.2em;
    width: 20em;
    border: 2px solid lightgray;
    border-radius: 4px;
    vertical-align: top;
    overflow: visible;
    overflow-wrap:  break-word;
}

.exDiv h3 {
    padding-left: 1em;
}

.exDiv li {
    padding: 1px 0.5em 0.9em 1px;
}

#header {
    font-size: 3.2em;
    text-align: center;
    font-family: "Candara", "Arial", sans-serif;
    color: #434343;
    padding: 0.4em;
}

#inputForm {
    top: 3%;
    left: 10px;
    position: relative;
    font-size: 1.2em;
    font-family: "Arial", sans-serif;
}

#inputBox {
    font-size: 1.1em;
    border-radius: 8px;
    padding: 8px;
    width: 20em;
}

#submitBtn {
    font-size: 1.7em;
    vertical-align: bottom;
    border-radius: 4px;
}

#infoDiv {
    height: 65%;
    width: 70%;
    left: 10px;
    top: 25%;
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-family: "Arial", sans-serif;
    font-size: 1.2em;
}

#termHeader {
    font-weight: 700;
    font-size: 1.4em;
}

#tabs > ul > li {
    font-size: 1.3em;
}

#tabs-1 > p {
    font-family: "Arial", sans-serif;
}

#descriptionList li {
    padding: 2px 2px 6px 2px;
}
